# --------------------
# Python / Django
# --------------------
backend/venv/
backend/env/
venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
backend/media/
# Django static/media
backend/staticfiles/

# Env files
.env
.env.*

# Logs
*.log

# --------------------
# Node / React (Vite)
# --------------------
frontend/node_modules/
frontend/dist/
frontend/build/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db
backend/scratch/db.sqlite3
backend/db.sqlite3
